body,
* {
    background: #212529;
    font-family: Melbrick, sans-serif;
}

@font-face {
    font-family: 'Melbrick';
    src: url('../fonts/Melbrick\ DEMO.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import 'home';
@import 'navbar';